@charset "utf-8";

.css-1hac4vs-dummyInput { background: 0px center; border: 0px; caret-color: transparent; font-size: inherit; grid-area: 1 / 1 / 2 / 3; outline: 0px; padding: 0px; width: 1px; color: transparent; left: -100px; opacity: 0; position: relative; transform: scale(0.01); }