@charset "utf-8";

.gm-style .gm-style-mtc div, .gm-style .gm-style-mtc label { font-weight: 400; }

.gm-style .gm-style-mtc li, .gm-style .gm-style-mtc ul { box-sizing: border-box; }

.gm-style-mtc-bbw { display: flex; flex-wrap: wrap; }

.gm-style-mtc-bbw .gm-style-mtc:first-of-type > button { border-start-start-radius: 2px; border-end-start-radius: 2px; }

.gm-style-mtc-bbw .gm-style-mtc:last-of-type > button { border-start-end-radius: 2px; border-end-end-radius: 2px; }

sentinel { }