@charset "utf-8";

.UspContentBlock_Dark__FynKR, .UspContentBlock_Light__Dk2Lj { padding: 32px 0px; }

@media (min-width: 768px) {
  .UspContentBlock_Dark__FynKR, .UspContentBlock_Light__Dk2Lj { padding: 64px 0px; }
}

.UspContentBlock_Light__Dk2Lj { background-color: rgb(246, 246, 246); }

.UspContentBlock_Dark__FynKR { background-color: rgb(0, 52, 99); }

.UspContentBlock_Dark__FynKR div, .UspContentBlock_Dark__FynKR h2, .UspContentBlock_Dark__FynKR p { color: rgb(255, 255, 255) !important; }

.UspContentBlock_base__AohWL { margin-left: auto; margin-right: auto; max-width: 1264px; width: calc(100% - 32px); }

@media screen and (min-width: 768px) {
  .UspContentBlock_base__AohWL { width: calc(100% - 64px); }
}

@media screen and (min-width: 1480px) {
  .UspContentBlock_base__AohWL { width: calc(100% - 32px); }
}

.UspContentBlock_base__AohWL { position: relative; }

.UspContentBlock_base__AohWL .UspContentBlock_USPs__feB4A { width: 100%; }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O { padding: 0px 24px; text-align: center; width: 30%; }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O > * + * { margin-top: 16px; }

@media (max-width: 600px) {
  .UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O > * + * { margin-top: 8px; }
}

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Icon__PmOw6 { align-items: center; background-color: rgb(241, 247, 251); border-radius: 50%; display: flex; height: 64px; justify-content: center; margin: 0px auto 12px; width: 64px; }

@media (max-width: 600px) {
  .UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Icon__PmOw6 { margin-bottom: 16px; }
}

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-family: var(--font-roboto); }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp strong { font-weight: 600; }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-size: 1.5rem; letter-spacing: 0px; line-height: 2rem; font-weight: 700; color: rgb(81, 81, 81); padding-left: 24px; padding-right: 24px; }

@media (max-width: 600px) {
  .UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-family: var(--font-roboto); }
  .UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp strong { font-weight: 600; }
  .UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-size: 1.25rem; letter-spacing: 0px; line-height: 2rem; font-weight: 700; }
}

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Description__w5KUS { font-family: var(--font-roboto); }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Description__w5KUS strong { font-weight: 600; }

.UspContentBlock_base__AohWL .UspContentBlock_USPItem__sbW5O .UspContentBlock_Description__w5KUS { font-size: 1rem; font-weight: 400; letter-spacing: 0px; line-height: 1.5rem; color: rgb(109, 109, 109); }

.UspContentBlock_NoSlider__hxQTa { display: flex; flex-wrap: wrap; justify-content: center; }

.UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-family: var(--font-roboto); }

.UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp strong { font-weight: 600; }

.UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-size: 1.25rem; letter-spacing: 0px; line-height: 2rem; font-weight: 700; width: 100%; }

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-family: var(--font-roboto); }
  .UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp strong { font-weight: 600; }
  .UspContentBlock_NoSlider__hxQTa .UspContentBlock_USPItem__sbW5O .UspContentBlock_Title__3Eljp { font-size: 1.125rem; letter-spacing: 0px; font-weight: 700; line-height: 140%; padding: 0px 16px 16px; }
}

.UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(3)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4))) .UspContentBlock_USPItem__sbW5O { flex: 1 1 0%; width: 100%; }

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(3)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4))) .UspContentBlock_USPItem__sbW5O { font-family: var(--font-roboto); }
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(3)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4))) .UspContentBlock_USPItem__sbW5O strong { font-weight: 600; }
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(3)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4))) .UspContentBlock_USPItem__sbW5O { font-size: 0.875rem; letter-spacing: 0px; line-height: 1.25rem; font-weight: 700; width: 60%; }
}

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(3)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4))) .UspContentBlock_USPItem__sbW5O .UspContentBlock_Icon__PmOw6 { margin-bottom: 16px; }
}

@media (max-width: 1024px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5))) { display: grid !important; grid-template-columns: repeat(2, 1fr) !important; }
}

.UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5))) .UspContentBlock_USPItem__sbW5O { width: 25%; }

@media (max-width: 1024px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(4)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5))) .UspContentBlock_USPItem__sbW5O { width: 100%; margin-bottom: 16px; }
}

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) { display: grid !important; grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 480px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) { grid-template-columns: repeat(2, 1fr); }
}

.UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O { width: 25%; padding-bottom: 16px; }

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O { width: 100%; }
}

@media (max-width: 600px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O { width: unset; }
}

@media (max-width: 600px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O .UspContentBlock_Icon__PmOw6 { margin-bottom: 16px; }
}

.UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O:nth-child(4), .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O:nth-child(5) { position: relative; left: 0px; }

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O:nth-child(4), .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O:nth-child(5) { left: 50%; }
}

@media (max-width: 480px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(5)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6))) .UspContentBlock_USPItem__sbW5O:nth-child(4) { left: 0px; }
}

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(7))) { display: grid !important; grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 480px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(7))) { grid-template-columns: repeat(2, 1fr); }
}

.UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(7))) .UspContentBlock_USPItem__sbW5O { width: 25%; }

@media (max-width: 768px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(7))) .UspContentBlock_USPItem__sbW5O { width: 100%; }
}

@media (max-width: 600px) {
  .UspContentBlock_NoSlider__hxQTa:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(6)):not(:has(.UspContentBlock_USPItem__sbW5O:nth-of-type(7))) .UspContentBlock_USPItem__sbW5O { width: unset; }
}

.VideoPlayer_base__sPjgb { margin-left: auto; margin-right: auto; max-width: 1264px; width: calc(100% - 32px); }

@media screen and (min-width: 768px) {
  .VideoPlayer_base__sPjgb { width: calc(100% - 64px); }
}

@media screen and (min-width: 1480px) {
  .VideoPlayer_base__sPjgb { width: calc(100% - 32px); }
}

.UspContentBlockSlider_Dark__e9bKm, .UspContentBlockSlider_Light__wrHkI { padding: 32px 0px; }

@media (min-width: 768px) {
  .UspContentBlockSlider_Dark__e9bKm, .UspContentBlockSlider_Light__wrHkI { padding: 64px 0px; }
}

.UspContentBlockSlider_Light__wrHkI { background-color: rgb(246, 246, 246); }

.UspContentBlockSlider_Dark__e9bKm { background-color: rgb(0, 52, 99); }

.UspContentBlockSlider_Dark__e9bKm div, .UspContentBlockSlider_Dark__e9bKm h2, .UspContentBlockSlider_Dark__e9bKm p { color: rgb(255, 255, 255) !important; }

.UspContentBlockSlider_base__dWiw3 { margin-left: auto; margin-right: auto; max-width: 1264px; width: calc(100% - 32px); }

@media screen and (min-width: 768px) {
  .UspContentBlockSlider_base__dWiw3 { width: calc(100% - 64px); }
}

@media screen and (min-width: 1480px) {
  .UspContentBlockSlider_base__dWiw3 { width: calc(100% - 32px); }
}

.UspContentBlockSlider_base__dWiw3 { position: relative; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i { width: 100%; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-track { margin-left: -1%; }

@media (max-width: 768px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-track { margin-left: 9%; }
}

@media (max-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-slider { overflow: hidden; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-list { margin: 0px -12px; }

@media (min-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-list { margin: 0px -16px; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-slide { padding-left: 12px; }

@media (min-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-slide { padding-left: 16px; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPs__ze33i .slick-slide:focus { outline: 0px; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k { padding: 0px 24px; text-align: center; width: 30%; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k > * + * { margin-top: 16px; }

@media (max-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k > * + * { margin-top: 8px; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Icon__hkJ_U { align-items: center; background-color: rgb(241, 247, 251); border-radius: 50%; display: flex; height: 64px; justify-content: center; margin: 0px auto 12px; width: 64px; }

@media (max-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Icon__hkJ_U { margin-bottom: 16px; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh { font-family: var(--font-roboto); }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh strong { font-weight: 600; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh { font-size: 1.5rem; letter-spacing: 0px; line-height: 2rem; font-weight: 700; color: rgb(81, 81, 81); padding-left: 24px; padding-right: 24px; }

@media (max-width: 600px) {
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh { font-family: var(--font-roboto); }
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh strong { font-weight: 600; }
  .UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Title__A8Bfh { font-size: 1.25rem; letter-spacing: 0px; line-height: 2rem; font-weight: 700; }
}

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Description__CDXTS { font-family: var(--font-roboto); }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Description__CDXTS strong { font-weight: 600; }

.UspContentBlockSlider_base__dWiw3 .UspContentBlockSlider_USPItem__gZc8k .UspContentBlockSlider_Description__CDXTS { font-size: 1rem; font-weight: 400; letter-spacing: 0px; line-height: 1.5rem; color: rgb(109, 109, 109); }

.UspContentBlockSlider_Arrows__mecgk { height: 100%; left: -5%; pointer-events: none; position: absolute; top: 0px; width: 110%; }

@media (max-width: 1280px) {
  .UspContentBlockSlider_Arrows__mecgk { display: none; }
}

.UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Next__2pK_u, .UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Prev__M4Vm_ { cursor: pointer; pointer-events: all; position: absolute; transform: translateY(calc(-50% - 20px)); }

.UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Prev__M4Vm_ { left: 32px; top: 50%; }

@media (min-width: 1480px) {
  .UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Prev__M4Vm_ { left: 0px; }
}

.UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Next__2pK_u { right: 32px; top: 50%; }

@media (min-width: 1480px) {
  .UspContentBlockSlider_Arrows__mecgk .UspContentBlockSlider_Next__2pK_u { right: 0px; }
}

@media only screen and (min-width: 1280px) {
  .UspContentBlockSlider_Dashes___jzWz { display: none !important; }
}

@media only screen and (max-width: 1280px) {
  .UspContentBlockSlider_Dashes___jzWz { display: flex; flex-wrap: wrap; justify-content: center; margin-top: 32px; width: 100%; }
  .UspContentBlockSlider_Dashes___jzWz .UspContentBlockSlider_Dash__3qhBK { background-color: rgb(221, 221, 221); cursor: pointer; display: block; height: 4px; width: 32px; }
  .UspContentBlockSlider_Dashes___jzWz .UspContentBlockSlider_Dash__3qhBK + .UspContentBlockSlider_Dash__3qhBK { margin-left: 4px; }
  .UspContentBlockSlider_Dashes___jzWz .UspContentBlockSlider_Dash__3qhBK.UspContentBlockSlider_IsCurrentSlide__a9s7R { background-color: rgb(0, 83, 159); }
}