@charset "utf-8";

.LGLeeN-keyboard-shortcuts-view { display: flex; }

.LGLeeN-keyboard-shortcuts-view table, .LGLeeN-keyboard-shortcuts-view tbody, .LGLeeN-keyboard-shortcuts-view td, .LGLeeN-keyboard-shortcuts-view tr { background: inherit; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; margin: 0px; padding: 0px; }

.LGLeeN-keyboard-shortcuts-view table { display: table; }

.LGLeeN-keyboard-shortcuts-view tr { display: table-row; }

.LGLeeN-keyboard-shortcuts-view td { box-sizing: border-box; display: table-cell; color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); padding: 6px; vertical-align: middle; white-space: nowrap; }

.LGLeeN-keyboard-shortcuts-view td:first-child { text-align: end; }

.LGLeeN-keyboard-shortcuts-view td kbd { background-color: light-dark(rgb(232, 234, 237), rgb(60, 64, 67)); border-radius: 2px; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; box-sizing: border-box; color: inherit; display: inline-block; font-family: "Google Sans Text", Roboto, Arial, sans-serif; line-height: 16px; margin: 0px 2px; min-height: 20px; min-width: 20px; padding: 2px 4px; position: relative; text-align: center; }