@charset "utf-8";

.css-brm5t5-singleValue { grid-area: 1 / 1 / 2 / 3; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgb(81, 81, 81); margin-left: 2px; margin-right: 2px; box-sizing: border-box; -webkit-box-align: center; align-items: center; display: flex; }

.css-brm5t5-singleValue::before { background-position: center center; content: url("/icons/languages/EN_GB.svg"); display: block; height: 24px; margin-right: 8px; width: 24px; }