@charset "utf-8";

.gm-control-active > img { box-sizing: content-box; display: none; left: 50%; pointer-events: none; position: absolute; top: 50%; transform: translate(-50%, -50%); }

.gm-control-active > img:first-child { display: block; }

.gm-control-active:active > img:first-child, .gm-control-active:disabled > img:first-child, .gm-control-active:focus > img:first-child, .gm-control-active:hover > img:first-child { display: none; }

.gm-control-active:focus > img:nth-child(2), .gm-control-active:hover > img:nth-child(2) { display: block; }

.gm-control-active:active > img:nth-child(3) { display: block; }

.gm-control-active:disabled > img:nth-child(4) { display: block; }

sentinel { }